<div class="app-container">
  <h1>Gerenciar Rotas</h1>

  <label>
    Origem:
    <input type="text" [(ngModel)]="from" />
  </label>

  <label>
    Destino:
    <input type="text" [(ngModel)]="to" />
  </label>

  <label>
    Preço:
    <input type="number" [(ngModel)]="price" />
  </label>

  <label>
    Route ID (Para Atualizar):
    <input type="number" [(ngModel)]="routeId" />
  </label>

  <div class="button-group">
    <button (click)="createRoute()">Criar Rota</button>
    <button (click)="updateRoute()">Atualizar Rota</button>
    <button (click)="deleteRoute()">Deletar Rota</button>
    <button (click)="getRoute()">Consultar Rota</button>
    <button (click)="getLowestPrice()">Consultar Menor Preço</button>
  </div>

  <div *ngIf="result" class="result">
    <h3>Resultado:</h3>
    <pre>{{ result | json }}</pre>
  </div>
</div>
